.futter{
    width: 990px;
    height: 50px;
    background-color: #35e911;
    margin: 10px auto;
    
    .futter1{
        padding: 10px 0;
        text-align: center;
        
    }
}

@for $i from 1 through 12{
    .box-#{$i}{
        width: 10px*$i;
    }
}
