$btn_back1: #ff7020;
$btn_back2: #fff720;
$btn_back3: #ffff;
$btn_back: #ff7ff0;
$btn_back4: #ff1234;




@import 'partiale/common.scss';
@import 'partiale/body.scss';
@import 'partiale/body1.scss';
@import 'partiale/futter.scss';





